@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dotf";
  src: url("../../public/fonts/Dotf1.ttf");
}

:root {
  --primary-blue: #3399ff;
  --primary-green: #12ad12;
  --primary-red: #f12236;
}
body {
  font-family: "dotf";
}
@layer components {
  .primary {
    @apply text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
  }
  .primary:disabled {
    @apply cursor-not-allowed text-white bg-blue-400  hover:bg-blue-400 bg-none;
  }

  .form-section {
    @apply bg-black/90 py-14 px-10  lg:p-16  h-full text-center;
  }

  .form-section label {
    @apply text-primary-blue mb-8 text-sm  md:text-lg lg:text-xl;
  }

  .form-section textarea {
    @apply uppercase border-none shadow-none bg-primary-blue focus:outline-none focus:border-none;
  }
  .form-section input {
    @apply text-center rounded-none uppercase border-none shadow-none bg-primary-blue focus:outline-none focus:border-none;
  }
  .primary {
    @apply focus:shadow-none focus:outline-none;
  }

  .btn.primary {
    @apply p-2   lg:text-xl hover:opacity-70 transition-opacity focus:shadow-none bg-none hover:bg-transparent rounded-none bg-transparent border-primary-red border text-primary-red uppercase;
  }
  .btn:disabled {
    @apply hover:opacity-100 hover:bg-transparent rounded-none bg-transparent border-primary-red border text-primary-red uppercase;
  }

  .error-text {
    @apply text-center text-primary-red text-sm mt-2;
  }

  .loader {
    @apply animate-pulse text-primary-red text-lg text-center;
  }

  .video {
    @apply bg-black absolute right-0 bottom-0  min-w-full min-h-full  object-cover;
  }

  .modal-wrapper {
    @apply border border-primary-blue w-[90%] md:w-[70%] lg:w-[55%] absolute top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%];
  }
  .mask {
    @apply animate-scaling-mask;
  }
}
